/************************************** 全局 start ***********************************************/
* {
    font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif
}

html {
    /*background-color: #f5f7f9;*/
}
body {
    color: #595959;
    background-color: #f5f7f9;
    overflow: hidden;
}

.bg-white {
    background-color: #fff;
}
.layui-layout-body {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    overflow-x: hidden;
    overflow-y: auto
}

.layui-layout-admin {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    transition: all .3s ease
}
.content-div{
    position: absolute;
    margin: 1%;
    background-color: #fff;
    height: 94%;
    width: 96%;
    padding: 10px;
    overflow: hidden;
}
.content-contain-tree-div{
    margin: 1%;
    height: 100%;
    overflow: hidden;
}
.content-left-tree-div{
    position: absolute;
    margin: 0px;
    left: 0px;
    right: auto;
    top: 15px;
    bottom: 0px;
    height: 100%;
    z-index: 0;
    overflow: hidden;
    width: 20%;
    display: block;
    visibility: visible;
}
.content-right-content-div{
    position: absolute;
    margin: 0px;
    right: 12px;
    top: 15px;
    bottom: 0px;
    height: 100%;
    width: 78%;
    z-index: 0;
    display: block;
    visibility: visible;
}

.content-head-div{
    width: 100%;
}
.content-head-search-div{
    float: right;
}
.content-head-search-form-div{

}
.content-head-search-form-div button{
    border-radius: 5px;
}
.search-file-input{
    background-color: #f1f2f4;
    width: 230px;
}
.icon-search-file{
    position: absolute;
    top:10px;
    right: 14px;
}
.content-head-btn-div{

}
.content-body-form-div{
    position: absolute;
    height: 85%;
    width: 100%;
    overflow-y: auto;
}
.table-no-border-div .layui-table-view{
    border: 0;
}
.content-head-btn-div button{
    border-radius: 5px;
    border-color: #09AAFF;
}
.content-head-btn-div .iconfont{
    font-size: 20px;
    vertical-align: bottom;
    font-weight: bold;
    color: #09AAFF;
}

.layer-open-title{
    color: #fff;
    height: 50px;
    line-height: 50px;
    background-color: #191a23;
    border: 0;
}
.mustStar{
    color : red;
}
.form-group-bottom {
    z-index: 9999;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: #F2F2F2;
    padding: 10px 20px;
}
.text-center{
    text-align: center;
}
.layui-input-radius{
    border-radius: 30px;
}
/* skin */

.layui-layer-default .layui-layer-title{background: #009f95; color:#fff; border: none;}
.layui-layer-default .layui-layer-btn a{background: #009f95; border-color: #009f95;}
.layui-layer-default .layui-layer-btn .layui-layer-btn1{background:#fff; border-color: #dedede;}



/************************************** 全局 end ***********************************************/

/************************************** 登录界面 start ***********************************************/
.login-content{
    background-color: rgba(255,255,255,0.9);
    width: 450px;
    height: 350px;
    position: absolute;
    right: 10%;
    top: 22%;
    z-index: 99999999;
}
.login-title{
    border-color: #e6e6e6;
    padding: 15px 20px;
    font-size: 18px
}
.login-form{
    padding: 5px 20px 5px 20px;
}
.login-input{
    padding-left: 30px;
}
.login-icon{
    position: absolute;left: 5px;top: 8px;font-size: 20px;
}
.login-code{
    line-height: 35px;
    padding-left: 30px;
    font-size: 24px;
}
/************************************** 登录界面 end ***********************************************/

/************************************** 全局头部 start *********************************************/
.layui-layout-admin .layui-header{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 50px;
    background-color: #fff;
    box-shadow: 0 1px 0 0 rgba(0,0,0,.03);
    z-index: 999;
}
.layui-layout-admin .layui-header .layui-logo{
    width: 235px;
    line-height: 50px;
    color: #ddd;
    background-color: #191a23;
    box-shadow: 1px 2px 2px 0 rgba(0,0,0,.05);
    position: relative;
    vertical-align: top;
    white-space: nowrap;
    display: inline-block;
    -webkit-transition: width .3s;
    transition: width .3s;
    overflow: hidden;
}
.layui-layout-admin .layui-header .layui-logo cite{
    font-style: normal;
    vertical-align: middle;
}
.layui-layout-admin .layui-header .layui-layout-left{
    padding: 0;
    vertical-align: top;
    display: inline-block;
    position: static!important;
}
.layui-layout-admin .layui-header .layui-nav {
    background: 0 0;
}
.layui-layout-admin .layui-header .layui-nav .layui-nav-item {
    line-height: 50px;
}
.layui-layout-admin .layui-header a {
    color: #595959;
    padding: 0 15px;
    cursor: pointer;
}
.layui-layout-admin .layui-header a:hover {
    color: #595959;
}
.layui-layout-admin .layui-header .layui-layout-right {
    padding: 0;
}
.layui-layout-admin .layui-header .layui-nav .layui-nav-more {
    border-color: #8c8c8c transparent transparent;
}
.layui-layout-admin .layui-header .layui-nav .layui-nav-item .layui-nav-child {
    top: 55px;
}

/************************************** 全局头部 end *********************************************/

/************************************** 全局侧边栏 start *****************************************/
.layui-layout-admin .layui-side {
    position: absolute;
    top: 50px;
    width: 235px;
    background-color: #191a23;
    box-shadow: 1px 2px 2px 0 rgba(0,0,0,.05);
    -webkit-transition: width .3s;
    transition: width .3s;
    -webkit-user-select: none;
    user-select: none;
    z-index: 1000;
}
.layui-layout-admin .layui-side .layui-side-scroll {
    width: 255px;
    -webkit-transition: width .3s;
    transition: width .3s;
}
.layui-layout-admin .layui-side .layui-nav {
    width: 235px;
    background-color: transparent;
    -webkit-transition: width .3s;
    transition: width .3s;
}
.layui-layout-admin .layui-side .layui-nav .layui-nav-item a {
    -webkit-transition: color .3s,background-color .3s;
    transition: color .3s,background-color .3s;
}
.layui-layout-admin .layui-side .layui-nav .layui-nav-item > a {
    cursor: pointer;
    padding-top: 5px;
    padding-bottom: 5px
}
.layui-layout-admin .layui-side .layui-nav .layui-nav-more {
    right: 15px;
}
.layui-nav-tree .arrow2 .layui-nav-more {
    font-family: layui-icon!important;
    font-size: 12px;
    font-weight: 600;
    font-style: normal;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    overflow: hidden;
    line-height: normal;
    border: 0;
    margin: -3px 0 0 0;
    padding: 0;
    width: 10px;
    height: 6px;
    top: 50%;
    display: inline-block;
    -webkit-transition: all .3s ease;
    transition: all .3s ease;
}
.layui-layout-admin .layui-side .layui-nav .layui-nav-item>.layui-nav-child {
    position: static;
}
.layui-layout-admin .layui-side .layui-nav .layui-nav-item .layui-nav-child a {
    padding-left: 50px;
    cursor: pointer;
}

/************************************** 全局侧边栏 end *****************************************/

/************************************** 全局页脚 start ****************************************/
.layui-layout-admin .layui-footer{
    text-align: center;
}
/************************************** 全局页脚 end *****************************************/


/************************************** 全局内容主体 start *************************************/
.layui-layout-admin .layui-body {
    position: absolute;
    left: 235px;
    top: 50px;
    z-index: auto;
    overflow: auto;
    -webkit-transition: left .3s;
    transition: left .3s;
    -webkit-overflow-scrolling: touch;
}
.layui-layout-admin .layui-body>.layui-tab {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: 0;
}
.layui-layout-admin .layui-body>.layui-tab>.layui-tab-title {
    height: 40px;
    line-height: 40px;
    padding: 0 80px 0 40px;
    background-color: #fff;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    border: 0;
    overflow: hidden;
    -webkit-transition: none;
    transition: none;
    z-index: 998;
}
.layui-layout-admin .layui-body>.layui-tab>.layui-tab-content {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 40px;
    padding: 0;
}
.admin-tabs-control.layui-icon-prev {
    left: 0;
    border-left: none;
    border-right: 1px solid #f6f6f6;
}
.admin-tabs-control {
    position: absolute;
    top: 0;
    width: 40px;
    height: 40px;
    line-height: 40px;
    background-color: #fff;
    border-left: 1px solid #f6f6f6;
    -webkit-transition: background-color .2s;
    transition: background-color .2s;
    text-align: center;
    cursor: pointer;
    z-index: 998;
}
.admin-tabs-control.layui-icon-next {
    right: 40px;
}
.admin-tabs-control.layui-icon-down {
    right: 0;
}
.admin-tabs-control>.layui-nav, .admin-tabs-control>.layui-nav .layui-nav-item {
    position: absolute;
    top: 0;
    left: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    background: transparent;
}
.admin-tabs-control>.layui-nav .layui-nav-child {
    right: 0;
    top: 40px;
    left: auto;
}
.admin-tabs-control>.layui-nav .layui-nav-bar, .admin-tabs-control>.layui-nav .layui-nav-more {
    display: none;
}
.layui-layout-admin .layui-body>.layui-tab>.layui-tab-title li {
    min-width: auto;
    max-width: 160px;
    line-height: 40px;
    padding: 0 30px 0 15px;
    border-right: 1px solid #f6f6f6;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    -webkit-transition: background-color .2s;
    transition: background-color .2s;
}
.layui-layout-admin .layui-body>.layui-tab>.layui-tab-title li.layui-this, .layui-layout-admin .layui-body>.layui-tab>.layui-tab-title li:hover {
    background-color: #f6f6f6;
}
.layui-layout-admin .layui-body>.layui-tab>.layui-tab-title li {
    min-width: auto;
    max-width: 160px;
    line-height: 40px;
    padding: 0 30px 0 15px;
    border-right: 1px solid #f6f6f6;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: top;
    -webkit-transition: background-color .2s;
    transition: background-color .2s;
}
.content-iframe{
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.content-page-body{
    background-color: #fff
}
.layui-form-pane .layui-input-inline {
    margin-left: 0;
}

/************************************** 全局内容主体 end *************************************/


/************************************** 部门管理 start ************************************************/



/************************************** 部门管理 end ************************************************/

