.login-content{
    background-color: rgba(255,255,255,0.9);
    width: 450px;
    height: 350px;
    position: absolute;
    right: 10%;
    top: 22%;
    z-index: 99999999;
}
.login-title{
    border-color: #e6e6e6;
    padding: 15px 20px;
    font-size: 18px
}
.login-form{
    padding: 5px 20px 5px 20px;
}
.login-input{
    padding-left: 30px;
}
.login-icon{
    position: absolute;left: 5px;top: 8px;font-size: 20px;
}
.login-code{
    line-height: 35px;
    padding-left: 30px;
    font-size: 24px;
}
