<!DOCTYPE html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<bar th:fragment="sidebar">
        <div class="layui-side-scroll">
            <ul class="layui-nav layui-nav-tree arrow2" style="margin-top: 15px;">
                <li class="layui-nav-item" th:each="menu:${session.user.menuList}">
                    <a>
                        <i class="layui-icon" th:classappend="${menu.icon}"></i>&emsp;
                        <cite th:text="${menu.name}">系统管理</cite>
                        <span class='layui-nav-more'></span>
                    </a>
                    <dl class="layui-nav-child" style="display: block">
                        <dd th:each="children:${menu.children}">
                            <a th:text="${children.name}" th:data-id="${children.authId}" th:data-url="${children.url}" th:data-title="${children.name}" class="menu_click">
                                用户管理
                            </a>
                        </dd>
                    </dl>
                </li>
            </ul>
        </div>
</bar>

</html>